amqp==1.4.9
anyjson==0.3.3
asn1crypto==0.24.0
attrs==17.4.0
beautifulsoup4==4.6.3
billiard==3.3.0.23
braintree==3.48.0
celery==3.1.26.post2
certifi==2018.1.18
cffi==1.11.5
chardet==3.0.4
cloudinary==1.10.0
cryptography==2.3.1
dj-database-url==0.4.2
dj-nexmo==0.0.1
Django==2.1.2
django-activity-stream==0.6.2
django-appconf==1.0.2
django-auth0==0.0.2
django-avatar==4.1.0
django-awesome-avatar==1.1.3
django-categories==1.6
django-category==2.0.0
django-celery==3.2.2
django-chartjs==1.3
django-cloudinary-storage==0.2.3
django-contact-form==1.5
django-contact-us==0.4.1
django-cors-headers==1.1.0
django-crispy-forms==1.7.2
django-easy-avatar==0.1
django-el-pagination==2.1.2
django-getpaid==1.8.0.1
django-heroku==0.2.0
django-js-asset==1.1.0
django-model-utils==2.5.1
django-mptt==0.9.1
django-nexmo==2.0.0a1
django-notifications-hq==1.2
django-object-tools==1.11.0
django-payments==0.13.0
django-pendulum==0.1.6rc4
django-smuggler==0.7.0
django-widget-tweaks==1.4.1
djangorestframework==3.4.4
gunicorn==19.6.0
idna==2.7
jsonfield==1.0.3
kombu==3.0.37
marshmallow==3.0.0b13
mock==2.0.0
nexmo==2.2.0
-e git+https://github.com/marcuz/libpynexmo.git@eb5b3dbcdf48d93a60ba9f12c64b06ffea56023f#egg=nexmomessage
pbr==3.1.1
phonenumbers==8.9.12
Pillow==5.0.0
psycopg2==2.7.3.2
pycparser==2.18
PyJWT==1.6.4
python-http-client==3.1.0
pytz==2017.3
requests==2.11.0
sendgrid==5.6.0
simplejson==3.16.0
six==1.11.0
stripe==2.10.1
suds-jurko==0.6
unicode-slugify==0.1.3
Unidecode==1.0.22
urllib3==1.22
urlopen==1.0.0
whitenoise==3.3.1
xmltodict==0.11.0
zerosms==0.0.1
